
.tooltip {
}
.tooltip-content {
  position: relative;
  background-color: white;
  color: black;
  width: 300px;
  padding: 1px 20px;
  font-size: 14px;
}

.tooltip img {
  right: 20px;
  top: 18px;
  position: absolute;
}

body{
  padding: 10px;
}

.rzn-map{
  display: flex;
  max-width: 800px;
  max-height: 800px;
  margin-right: 40px;
}

.rzn-map svg {
  width: 800px;
  max-height: 800px;
}


.ka-tbody{
  max-height: 800px;
}

.map-table{
  display: flex;
}

@media(max-width: 1800px){  
  .map-table{
    display: block;
  }
  .ka-table{
    margin: 20px 0;
  }
}